/* Write your code here. */
.GallaryApp-container {
  display: flex;
  justify-content: center;
}

.GallaryApp-card-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-top: 34px;
  margin-bottom: 34px;
  max-width: 1140px;
}

.Selected-Gallary-image{
    border-radius: 18px;
}

.Gallary-heading{
  font-family: 'Lobster';
  font-size: 40px;
  color: #1e293b;
  font-weight: bold;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 20px;
}

.description{
  font-family: 'Roboto';
  font-size: 20px;
  color: #64748b;
  font-weight: bold;
  font-style: none;
  margin-top: 25px;
}

.GallaryApp-thumbnail-items{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}