/* Write your code here. */
.ThumbnailItems-list{
    margin-right: 16px;
    margin-bottom: 16px;
}

.tumbnail-button{
    background: transparent;
    border: none;
    padding: 0px;
    outline: none;
    cursor: pointer;
}

.thumbnail{
    width: 60px;
    height: 60px;
    opacity: 0.5;
}

.active{
    opacity: 1;
}
